<% 
#rather than yaml arrays of the drop downs
export_to = ["destination_db","s3","both"]
export_type = ["incremental","fulldump"]
%>
<%= form_for(@export) do |f| %>
  <% if @export.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@export.errors.count, "error") %> prohibited this export from being saved:</h2>

      <ul>
      <% @export.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-section">
<label>Source Schema</label>
<%= f.select :source_schema, @dbs %>
<label>Destination Schema</label>
<%= f.select :destination_schema, @dbs %>
<label>Table Name</label>
<%= f.select :table_name, [] %>
<label>Incremental Column</label>
<%= f.text_field :incremental_column %>
<label>Incremental Column Type</label>
<%= f.text_field :incremental_column_type %>
<label>Maximum Incremental Value</label>
<%= f.text_field :max_incremental_value %>
<label>S3 Path</label>
<%= f.text_field :s3_path %>
<label>Export to</label>
<select name="export[export_to]" id="export_to" class="chosen" data-placeholder="Select export destination">
  <% export_to.each do |val| %>
  <option value="<%= val %>" <% if @export.export_to == val %>SELECTED<% end %>><%= val %></option>
  <% end %> 
</select>
<label>Export type</label>
<select name="export[export_type]" id="export_type" class="chosen" data-placeholder="Select your export type">
  <% export_type.each do |val| %>
  <option value="<%= val %>" <% if @export.export_type == val %>SELECTED<% end %>><%= val %></option>
  <% end %>
</select>
<label>Active</label>
<select name="export[active]" id="active" class="chosen">
  <option value="true" <% if @export.active == true %>SELECTED<% end %>>true</option>
  <option value="false" <% if @export.active == false %>SELECTED<% end %>>false</option>
</select>
</div>
<div class="form-section">
<%= f.hidden_field :cron %>
<label>Cron</label>
<span class="cron-label">minutes:</span><select id="min" class="cron" multiple data-placeholder="Minutes">
  <option value="*">*</option>
<% (0..59).each do |n| %>
  <option value="<%=n %>"><%= n%></option>
<% end %>
</select><br/>
<span class="cron-label">hours:</span><select id="hour" class="cron" multiple data-placeholder="Hours">
  <option value="*">*</option>
<% (0..23).each do |n| %>
  <option value="<%=n %>"><%= n%></option>
<% end %>
</select><br/>
<span class="cron-label">days:</span><select id="day" class="cron" multiple data-placeholder="Days">
  <option value="*">*</option>
<% (1..31).each do |n| %>
  <option value="<%=n %>"><%= n%></option>
<% end %>
</select><br/>
<span class="cron-label">months:</span><select id="month" class="cron" multiple data-placeholder="Months">
  <option value="*">*</option>
<% (1..12).each do |n| %>
  <option value="<%= n - 1%>"><%= Date::MONTHNAMES[n]%></option>
<% end %>
</select><br/>
<span class="cron-label">weekday:</span><select id="dow" class="cron" multiple data-placeholder="Day of the Week">
  <option value="*">*</option>
<% (0..6).each do |n| %>
  <option value="<%=n %>"><%= Date::DAYNAMES[n]%></option>
<% end %>
</select>
<label style="clear:left">Cron synatx</label>
<div id="cron-val"></div>
<label>Cron translation</label>
<div id="cronwtf"></div>
</div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to content_tag(:span, 'cancel'), exports_path, :class => "btn left action cancel" %>
  </div>
<% end %>
<%= javascript_include_tag "myreplicator/chosen.jquery.min" %>
<%= javascript_include_tag "myreplicator/cronwtf.min" %>
<script>
var dbs = {
<% @tables.each do |key,values| %>
  "<%= key %>":[
    <% values.each do |table| %>
      "<%= table %>",
    <% end %>
  ],
<% end %>
}
$(function(){
  CronUI.translate();
  $(".chosen").chosen();
  $("#export_destination_schema,#export_table_name").chosen();
  $(".cron").chosen().change(function(){CronUI.translate()});
  $("#export_source_schema").chosen().change(function(){
    exportSchemaSelect($(this).val())
  });
  exportSchemaSelect($("#export_source_schema").val());
<%- if @edit -%>
  editInit();
<%- end -%>
})

function editInit(){
  var cron = "<%= @export.cron %>";
  var displays = ["#min","#hour","#day","#month","#dow"]; 
  var cron_vals = cron.split(" ");
  for(i=0;i<cron_vals.length; i++){
    //console.log(displays[i]+" val: "+cron_vals[i])
    $(displays[i]).val(cron_vals[i]).trigger("liszt:updated");
  }
  CronUI.translate();
  $("#export_table_name").val("<%= @export.table_name %>").trigger("liszt:updated");
}

function exportSchemaSelect(val){
    var target = $("#export_table_name");
    var tables = dbs[val];
    var l = tables.length;
    var options = "";
    for(i=0;i<l;i++){
      options += "<option value='"+tables[i]+"'>"+tables[i]+"</option>";
    }
    target.val('').find("option").remove().trigger("liszt:updated");
    target.append(options).trigger("liszt:updated");
}
</script>
