<%
export_type = ["incremental","all"]
export_to = ["destination_db","backup","vertica"]
%>
<%= link_to content_tag(:span, 'add export'), new_export_path, :class => "btn right main add" %>

<div class = "search_box">

	<div id="menu" >
		<h2>Exports</h2>
	</div>

	<div id="content">

		<%= form_tag("/myreplicator/search", method: "get") do %>
  			
  			<div id = "search_form">
			<label>Export to</label>
			<select name="export[export_to]" id = "drop_down">
  				<% export_to.each do |val| %>
  					<option value="<%= val %>" SELECTED><%= val %></option>
  				<% end %> 
			</select>
			</div>
			<div id = "search_form">
			<label>Source Schema</label>
			<select name="export[source_schema]" id = "drop_down">
  				<% @dbs.each do |val| %>
  					<option value="<%= val %>" SELECTED><%= val %></option>
  				<% end %>
			</select>
			</div>
			<div id = "text_box">
				<label>Table Name</label>
				<%= text_field_tag(:table_name) %>
			</div>
			
  			<div id = "submit_button">
    			<%= submit_tag("Search") %>
    			
  			</div>
		<% end %>  
</div>
</div>

<%= will_paginate @exports , :previous_label => '<', :next_label => '>', :inner_window => 2, :outer_window => 0%>
<% if @exports.total_entries > @exports.per_page %>
<div id="pagination-display-message">Displaying <%= @exports.offset + 1 %> - <%= @exports.offset + @exports.length %> of <%= pluralize(@exports.total_entries, 'exports') %></div>
<% end %>
<div class="table-wrapper">
  <table class="data-grid">
    <thead>
      <tr>
       <th><%= sortable "export_type" %></th> 
       <th><%= sortable "export_to", "Export Desitination" %></th>       
       <th colspan="2"><%= sortable "source_schema" %></th>
       <th><%= sortable "destination_schema" %></th>
       <th><%= sortable "table_name" %></th>
       <th><%= sortable "incremental_column" %></th>
       <th><%= sortable "incremental_column_type" %></th>
       <th><%= sortable "max_incremental_value" %></th>
       <th><%= sortable "s3_path" %></th>
       <th><%= sortable "cron" %></th> 
       <th class="center">Actions</th>
       <th class="center">Utils</th>
      </tr>
    </thead>
    <tbody>
    <% @exports.each do |export| %>
      <tr>
        <td><%= export.export_type %></td> 
        <td><%= export.export_to %></td>        
        <td class="state"><span class="status <% if export.active %>active<% else %>inactive<% end %>" title="<% if export.active %>Active<% else %>Inactive<% end %>"></span></td> 
        <td class="source"><%= export.source_schema %></td>
        <td><%= export.destination_schema %></td>
        <td><%= export.table_name %></td>
        <td><%= export.incremental_column %></td>
        <td><%= export.incremental_column_type %></td>
        <td><%= export.max_incremental_value %></td>
        <td><%= export.s3_path %></td>
        <td><span class="cron" data-cron="<%= export.cron %>" title=""><%= export.cron %></span></td>     
        <td>
          <%= link_to 'review', export, :class=> 'action view' %>
          <%= link_to 'edit', edit_export_path(export), :class => 'action edit' %>
          <%= link_to 'destroy', export, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'action delete' %>
        </td>
        <td>
          <%= link_to 'reload', reload_export_path(export), :class=> 'action edit' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
$(function(){
  $.each($("span.cron"),function(i){
    var span = $(this)
    var trans = String(CronWTF.parse(span.data("cron")));
    span.attr("title", trans)
  })
  $("span.status").tipTip();
  $("span.cron").tipTip();
})
</script>
