<!DOCTYPE html>
<html>
<head>
  <title>My Replicator</title>
  <%= stylesheet_link_tag    "myreplicator/application", :media => "all" %>
  <%= javascript_include_tag "myreplicator/application" %>
  <%= csrf_meta_tags %>
</head>
<% 
%>

<body>

<div id="header"><h1><a href="<%= root_path %>"><span>C</span>My Replicator</a></h1></div>
<div id="sub-header">
  <a href="<%= root_path %>" <% if @tab == "home" %>class="active"<% end %>>home</a>
  <a href="<%= exports_path %>" <% if @tab == "exports" %>class="active"<% end %>>exports</a>
  <%= link_to content_tag(:span, "pause"), {:controller => "home", :action => 'pause'}, {:class => 'button'} %>
  <%= link_to content_tag(:span, "resume"), {:controller => "home", :action => 'resume'}, {:class => 'button'} %>
</div>

<%= yield %>
<% flash.each do |name, msg| %>
  <div class="flash">
    <%= msg %>
  </div>
<% end %> 
</body>
</html>
