<%= render :partial => 'home_menu' %>
<% @exports.each do |ex| %>
<div class="error-display">
  <span><em>table name:</em> <%= ex.table_name %></span>
  <span><em>source schema:</em><%=  ex.source_schema %></span>
  <span><em>updated at:</em><%= ex.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
  <span><em>error:</em></span>
  <pre><%= ex.error %></pre>
</div>
<% end %>
<% @logs.each do |log| %>
<div class="error-display">
  <span><em>name:</em> <%= log.name %></span>
  <span><em>file:</em> <%= log.file %></span>
  <span><em>type:</em> <%= log.job_type %></span>
  <span><em>started:</em> <%= log.started_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
  <span><em>error:</em></span>
  <pre><%= log.error %></pre>
</div>
<% end %>