<%= render :partial => 'home_menu' %>
<div id="overview-wrapper">
<h6>Running tasks</h6>
<table class="overview">
  <% @logs.each do |log| %>
  <tr>
    <td>
      <span class="name"><%= log.name %></span>
      <span class="file"><%= log.file %></span>
    </td>
    <td><%= log.state %></td>
    <td><%= log.job_type %></td>
    <td><%= log.started_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td><%= chronos(@now.to_i - log.started_at.to_i) %></td>
  </tr>
  <% end %>
</table>





</div>
<script>
jQuery(function(){
  var toggles = jQuery("a.state-toggle");
  toggles.click(function(e){
    e.preventDefault();
    var link = $(this);
    toggles.removeClass("on");
    link.addClass("on");
    jQuery(link.attr('href')).fadeIn().siblings("li").hide();
  })
})
</script>